[2020-08-14 14:37] nljubesi opened #2 "Creating a non-standard language pipeline loads standard language models"
If I do not download non-standard language models `classla.download('sr',type='nonstandard')`, the standard models are used.
`

Use device: gpu

Loading: tokenize
With settings:
{'model_path': '/home/nikolal/classla_resources/sr_set_models/sr_set_tokenizer.pt', 'lang': 'sr', 'shorthand': 'sr_nonstandard', 'mode': 'predict', 'type': 'nonstandard'}

Loading: ner
With settings:
{'model_path': '/home/

[2020-08-17 12:39] lkrsnik commented on #2
This should be fixed with commit a216e2bf45f27d31b938c65fb26d2b2f4c9cea2e.

[2020-08-17 12:39] #2 closed

[2020-09-09 00:01] KoichiYasuoka opened #3 "zip'd model needed"
`classla.download("sl")` downloads five files, whose sizes are 2.1GB total. I've tried to `zip` the five files and got 1.4GB. To speed up the download, would you kindly prepare zip'd model?

[2020-09-09 07:07] nljubesi commented on #3
Thank you for your suggestion. The thing is that we retrieve the models for each language from a repository (https://www.clarin.si/repository/xmlui/) where the models are properly stored (with metadata, handle etc.) and these are not zipped on that side. We will consider submitting to the repository maximally compressed files in the future.
@TomazErjavec @lkrsnik

[2020-09-09 07:22] TomazErjavec commented on #3
I wasn't aware that these binary files can be sensible compressed. But, if so, let me know which handles should have their files compressed, and I will do it. You will then have to change the upload procedure of course, to retrieve zips and unzip them.

[2020-09-09 08:17] KoichiYasuoka commented on #3
First of all, among the five files, [ssj500k.pretrain.pt](http://hdl.handle.net/11356/1312) is the biggest one to download for one hour (from Japan). I'm very eager to `zip` it 70% (or `xz` it 50%). The second one is [ssj500k+Sloleks_lemmatizer.pt](https://www.clarin.si/repository/xmlui/handle/11356/1286) and the other three files are relatively small.

[2020-09-14 11:21] nljubesi commented on #3
@KoichiYasuoka Thank you once again for your suggestion. After considering multiple scenarios, we decided to add support for zipped models and to compress newly published models (such as http://hdl.handle.net/11356/1348 and http://hdl.handle.net/11356/1349).

We decided not to compress old models as this might end up in code breakage for some users. Given that we are publishing new models rather f

[2020-09-14 11:21] #3 closed

[2020-09-17 12:37] klemenkac opened #4 "Longer texts cannot be processed"
I want to process longer text, such as [thesis](https://github.com/clarinsi/classla-stanfordnlp/files/5238993/demofile.txt) in attachment. Stanza library works fine, but Classla is crashing when processing longer texts.

Code:
[code]

Error:
`MemoryError: Unable to allocate 45.8 MiB for an array with shape (2450, 2450) and data type float64`

[2020-09-18 08:42] nljubesi commented on #4
Thank you @klemenkac for reporting this.

When I try reproducing your code, I get in all cases (classla, GPU, non-GPU, same for stanza) a RecursionError (maximum recursion depth exceeded while calling a Python object) due to the facts that (1) you do not have newlines encoded in your text and (2) a good part of your text is numerical data, which ends up being VERY long sentences that cannot be dep

[2020-09-18 11:16] kkac26 commented on #4
@nljubesi Yes, I extended maximum resursion depth to 50000 when I used classla/stanza. Stanza's library is processing files like this (and even bigger) with no problem and is also significally faster than classla. Classla is using too much resources and often throws MemoryError's like the one in my first post or this one:

`[enforce fail at ..\c10\core\CPUAllocator.cpp:72] data. DefaultCPUAllocato

[2020-09-18 11:26] nljubesi commented on #4
classla is actually a fork of stanza, so there must have been optimizations going on on the side of stanza in the meantime. If you have the capacity to inspect the improvements made in stanza, feel free to open a branch and improve our code!

If not, then these improvements will have to wait for our developers to find the necessary time.

[2020-10-12 07:01] nljubesi opened #5 "Croatian, Serbian and Bulgarian standard models mistag quotes"
The sentence

<pre>Tako i srpski „trpi“ „okupaciju“ od strane engleskog jezika kao lingua franca.</pre>

alarmed us that a good part of the models has not seen, neither in the training data, nor in the embeddings, alternative quotes. With the Serbian standard model the above quotes are tagged as nouns and adjectives. With the non-standard model the tags are correct. The Bulgarian model tags one of

[2020-10-17 17:22] vukbatanovic commented on #5
I'm not sure the Slovene model is entirely free of errors of this sort, for instance in the following example the first quote is tagged as Xf by the non-standard model:
`Ja kak pa si naj jas zaj tou tolmačin? Je touti vaš „conditio sine qua non“ en nouvi müster za “funkcioniranja” v najbuj modično pokakani Prleččini al kaj?`

[2020-10-28 10:45] ninoslavc opened #6 "support for torch1.7"
classla 0.0.10 relies on torch 1.5. Is it possible to support the current version 1.7?

[2020-11-04 07:23] nljubesi commented on #6
We might start support it once we catch up with the developments in Stanza (will work on this in the following month). Could you document here your issue while using torch version 1.7? Thanks!

[2021-01-25 23:02] RatkoNikolic opened #7 "Converting classla Document or classla CONNLU to Python object"
Hi, I can't manage to convert the output of Serbian non-standard lemmatization to any Python object.
I tried using stanza for converting classla Document or CoNLLFile to dictionary, but I got the following errors:

'Document' object has no attribute 'to_dict'
or
'CoNLLFile' object is not iterable.

Thanks in advance.

[2021-01-26 07:40] nljubesi commented on #7
Hi, could you share your full code in future issues?

If you use the Serbian non-standard example from the README, then the resulting doc object can be iterated for lemmas it the following way (same as stanza):
[code]

the output being

[code]

[2021-01-26 12:50] RatkoNikolic commented on #7
Thank you! Iterating for lemmas solved it for me. I was just experimenting, so, for now, I have no coherent code to share.

[2021-01-26 12:51] #7 closed

[2021-02-17 16:45] TomazErjavec opened #8 "Problems with tokeniser"
I followed the steps in the readme, i.e. pip install and then "Getting started". The first two steps went ok, but on the third one it complains:

[code]
Any idea what is going wrong?

[2021-02-19 15:40] lkrsnik commented on #8
I am unsure how you used `pip install`. If you used `pip install classla` everything should work as intended. There are two ways I can think of to trigger this error:

1. Cloning this repo and using `pip install .`, without cloning git submodules.
2. By being in classla-stanfordnlp folder with uninstalled submodules.

Solution in both cases is to  download submodules. Example commands:
[code]

[2021-02-19 15:52] nljubesi commented on #8
Or Tomaž simply does ```pip install classla``` and / or runs the interpreter while not in the ```classla-stanfordnlp``` folder. It is better we go back to the track of doing things the most simple way.

Tomaž, if you are not sure whether you managed to trigger the submodule issue with any of the two approaches Luka mentioned, it would be best you gave us the exact commands with pwds that you ran w

[2021-02-20 18:30] TomazErjavec commented on #8
Thanks both for your help! What I did was:

So, yes, I should've, as Nikola rightly points out, just have done `pip install classla` without cloning. Did that now, and it works. Just goes to show how little I know about Python... So, closing.

[2021-02-20 18:30] #8 closed

[2021-02-20 18:39] TomazErjavec opened #9 "Unwanted processing logs in STDOUT"
I am used to processing text by reading from STDIN and writing to STDOUT. So, with my limited knowledge of Python, I wrote this simple program to do that:

[code]

and it works just fine, except that on the STDOUT I get the processing log as well, i.e.

[code]

and only then does the actual CoNLL-U output begin.

It is not a huge deal to get rid of these intro log messages in the output file, stil

[2021-02-21 09:49] TomazErjavec opened #10 "UD validate errors"
UD project has a [validation script](https://universaldependencies.org/release_checklist.html#validation) which I ran on the output of sl CLASSLA for the sentence "Iz teh dveh parametrov izračunamo še indeks telesne mase po enačbi: ITM = TT/TV2 [kg/m2]. (Glej preglednico 1.)", and it found some errors. Level 1 passes ok, but Level 2 complains:

[code]

The first one is pretty self explanatory: CoN

[2021-02-22 07:36] nljubesi commented on #10
TL;DR
Luka, you should add the feature of sorting morphological features by performing attribute-based case-insensitive sorting, so `sorted()` should have an attribute `key = lambda x: x.split('=')[0].casefold()`. Currently, I guess, they are just sorted.

Thank you, Tomaž, for these points. I will summarize:

1. morph features are sometimes not sorted (at least not in a way the validate.py script

[2021-02-22 07:42] nljubesi commented on #9
I think these should be sent to sys.stderr. Luka, would this be simple to resolve? Thanks!

[2021-02-22 13:11] lkrsnik commented on #9
Thank you for suggestion. Logging has been completely reworked by stanza. Right now we are finalizing big classla update, where we also include their latest changes.

Among other things, logging there is moved to STDERR there, so this should work as described in our next release.

[2021-02-22 13:11] #9 closed

[2021-02-22 14:33] lkrsnik commented on #10
This attribute sorting is performed when we train models. I modified code, so that when we train pos models next time, features will be sorted case insensitively.

[2021-03-01 19:30] nljubesi opened #11 "The inflectional lexicon is being populated with corpus data with predicted XPOS during training"
We populate the lexicon of the lemmatizer model with data both from an inflectional lexicon and the training corpus. However, we use the XPOS predictions in this corpus, which makes sense as we want the training data to be similar to the production environment.

Given the high level of control that is being added for Slovenian, which breaks our simple greedy approach to everything, I guess it is e

[2021-03-12 13:17] docelic opened #12 "torch._cudnn_rnn_flatten_weight - cuDNN error: CUDNN_STATUS_NOT_INITIALIZED ?"
When running the basic example, we get:

[code]

Any obvious hints/pointers? Thanks!

[2021-03-12 14:17] nljubesi commented on #12
Hi, could you give us more details, at least 1. how you installed the tool (what version, if you used pip) and 2. what is the exact example / command you are running? Thanks!

[2021-03-12 15:15] lkrsnik commented on #12
This looks like an issue on torch - GPU relation. As a quick solution you might try running classla on CPU:

`classla.Pipeline(..., use_gpu=False)`

[2021-03-12 15:17] docelic commented on #12
Heya, sure:

Pip/python:
[code]

classla installed just with `pip3 install classla`:
[code]

nvcc (if relevant):
[code]

Example program (copied as is from the website):

[code]

Running it:
[code]

Thanks!

[2021-03-12 15:19] docelic commented on #12
@lkrsnik indeed, with `use_gpu=False` it works. Any ideas what the issue could be when cuda is used?

[2021-03-13 07:14] docelic commented on #12
The error happens even though torch thinks the cuDNN backend exists and is enabled:

[code]

[2021-03-13 22:36] docelic commented on #12
Hello,

We solved the issue - this is a bug in Torch 1.8.0. The solution is to revert to 1.7.1:

[code]

And to update to Torch 1.8.1 when it gets released - it will supposedly have this fixed.

Thanks for your help.

[2021-03-13 22:36] #12 closed

[2021-03-15 09:27] nljubesi commented on #6
Hey, we do support torch1.7 now, as was tested in https://github.com/clarinsi/classla/issues/12.

[2021-03-15 09:27] #6 closed

[2021-03-15 10:06] nljubesi commented on #4
We recently updated classla so that it now seamlessly processes documents of length of hundreds of thousands of tokens.

[2021-03-15 10:06] #4 closed

[2021-03-15 10:19] nljubesi opened #13 "Named entity labels do not follow IOB2"
There are very infrequent cases where there are I- tags in the NER output that do not have preceding B- tags of the same type.

There should be one process after the NER predictions are made to modify the first I-x that has no preceding B-x into B-x.

[2021-04-11 10:52] ebouna opened #14 "Error running 'import classla': UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 664: character maps to <undefined>"
I successfully installed classla on a windows system (running `pip install classla` in the terminal). However, on running `import classla` in python, I keep getting the error `UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 664: character maps to <undefined>`.
Thanks in advance for any hints/ pointers.

[2021-04-12 09:33] nljubesi commented on #14
Thank you, @ebouna, for reporting this issue. The issue lies in a tool that is included with classla (obeliks tokenizer for Slovenian) that was obviously not tested on Windows yet. We are working on resolving the obeliks issue and will report here once everything is as it should be.

Thank you once again!

[2021-04-12 10:05] ebouna commented on #14
Thank you very much, @nljubesi, for your answer and for your help!

[2021-04-13 05:53] lkrsnik commented on #14
Underlying tool was upgraded. Since you already installed old version together with classla, you have to upgrade it manually. Simply write:
`pip install obeliks --upgrade`

Please let us know if this solves your issue.

[2021-04-13 09:08] ebouna commented on #14
Many thanks for your help! Everything works fine. This seems to solve the problem. Your tool is great.

[2021-04-13 09:13] nljubesi commented on #14
Thanks, feel free to share how you use the tool. Once you share this (you do not have to, of course), you can close the issue.

And thank you for reporting the issue!

[2021-04-19 11:09] ebouna commented on #14
Thanks a lot again, @nljubesi! Thanks for your immediate help. Sorry, I did not know I had to close the issue. I'll do that right now.

[2021-04-19 11:09] #14 closed

[2021-04-19 11:21] nljubesi opened #15 "Basic text clean-up prior to processing"
I am regularly getting negative feedback on noise in the processed text. That noise was present in the text from before, so this is not a classla issue per se, but there is room for a classla feature.

I am documenting here what should be done:
- NO-BREAK SPACE (U+00A0) to standard space (U+0020)
- NON-BREAKING HYPHEN (U+2011) to standard hyphen character (U+002D)
- SOFT HYPHEN (U+00AD) deleted
-

[2021-04-19 11:39] TomazErjavec commented on #15
NFC (Canonical Decomposition, followed by Canonical Composition) is the safe way to do it, although NFKC (Compatibility Decomposition, followed by Canonical Composition) might be ok - or even beter! - for text processing. The difference is that NFC totaly preserves information, but NFKC does not always, e.g. ⁹ becomes 9 (cf. http://unicode.org/reports/tr15/) , but this would be an advantage if the

[2021-04-19 14:26] ebouna opened #16 "Croatian & Serbian (stand. & nonstand.) models mistag and mislemmatize aorist and imperfect"
Trying out classla for Croatian & Serbian (stand. & nonstand.), I have seen that the tool yields excellent results in tagging and lemmatizing. However, unfortunately, there seems to be one exception: aorist and imperfect forms.
I tested, e.g., text passages such as `Otkako znam za se, sve mi nekako bješe najstarija pomisao i srce mi se po njoj otimaše.` or `Nakon časa i po vožnje, izgubismo iz vid

[2021-04-20 18:03] nljubesi opened #17 "Long sentences obtain <PAD> deprel"
**Describe the bug**
When I process long Wikipedia sentences, I get `<PAD>` as the predicted deprel.

**To Reproduce**
[code]

**Expected behavior**
There should be no `<PAD>` deprels.

[2021-04-21 16:25] nljubesi commented on #16
Interesting problem you have! There is a very simple reason for this - aorist and imperfect forms were not seen either in Croatian or Serbian training data.

The solution is to add to the training data sentences with aorist and imperfect. I see two solutions:

1. You take a sample of sentences with aorist and imperfect, where you correct the annotation of these tenses (and check that the remaining

[2021-04-25 21:36] nedimdzanic opened #18 "[QUESTION] Classla working from linux shell and on windows local host but not with hosting"
Hello,
I have steange problem with classla that occurred yesterday.
I have tested everything on my localhost on windows machine and it was working just fine, but
when I transferred everything on public host classla module was not working as expected.
Host is running on Linux Debian 10 x64, PHP v7.4, Python 3.9, pip 21.1, Nginx 1.18.
When I try running it from the Linux shell using python/php comma

[2021-04-25 21:41] ebouna commented on #16
I have started to collect sentences with aorist and imperfect, in order to help realize solution 1. Please find attached a first example, in which I checked and corrected the first 5 columns of each token.

[sentence1_Vma1s.txt](https://github.com/clarinsi/classla/files/6373101/sentence1_Vma1s.txt)

Unfortunately, I had a number of issues when I tried to convert from the conll-u format to a python

[2021-04-26 08:32] nljubesi commented on #16
By first five columns you consider columns 2-6, so including the FEATS column?

This looks good, I guess you are aware of the XPOS->UPOS+FEATS mapping at https://github.com/nljubesi/hr500k/blob/master/mte5-udv2.mapping?

For the classla objects, yes, they are rather spotty (taken over from stanza), it would be good if you documented the issue, but I guess here you can just output conllu and manual

[2021-04-26 08:36] nljubesi commented on #18
Hey, I guess you can download the models prior to running classla through the web server. There is no need to download the models again by the web server. Hope I understood your issue.

[2021-04-26 15:31] nedimdzanic commented on #18
Now stuck at "nlp = classla.Pipeline('hr')" or any other code related to classla.

[2021-04-26 15:33] nedimdzanic commented on #18
Now stuck at "nlp = classla.Pipeline('hr')" or any other code related to classla.

[2021-04-26 21:41] ebouna commented on #16
Yes, exactly: I checked the columns 3,4,5,6 . (Sorry, when I mentioned I had corrected "the first 5 columns", that was imprecise.) Thanks a lot in addition for pointing out [https://github.com/nljubesi/hr500k/blob/master/mte5-udv2.mapping](url), a page I was not aware of. I had used [http://nlp.ffzg.hr/data/tagging/msd-hr.html](url), which, however, sometimes differs from [https://github.com/nljub

[2021-04-27 08:33] nljubesi commented on #16
Uff, the http://nlp.ffzg.hr/data/tagging/msd-hr.html is a super-old specification. You should use https://github.com/nljubesi/hr500k/blob/master/mte5-udv2.mapping, if this is informative enough for you. Here you also have the mapping from XPOS to UPOS+FEATS, which is relevant as well.

The current MULTEXT-East specifications are these: http://nl.ijs.si/ME/V6/msd/html/msd-hbs.html.

[2021-04-27 08:37] nljubesi commented on #18
I cannot debug your situation from here, but I wonder whether your setup is making sense in the first place.

If you want to use classla in the background for your web app, I guess you do not want to load classla models each time a new http request arrives, but want to have a service in the back, serving the requests obtained via http.

classla has a server feature (thanks to it being based on sta

[2021-05-13 09:02] #18 closed

[2021-05-19 14:38] TomazErjavec opened #19 "Fail on reldi_tokeniser import"
I tried to use the classla pipeline (on Ubuntu 20.04.2 LTS), starting with the simple ` $ python3 pipeline_demo.py`.
It got the models ok, as well as some further steps but then it can't find reldi_tokeniser:
[code]

Any idea what went wrong here?

[2021-05-19 14:43] nljubesi commented on #19
Could you give the deets on the install?

What you should have done, and what should work, is a simple "pip install classla" from a folder where there is no "classla" subfolder.

[2021-05-19 15:11] TomazErjavec commented on #19
I think I did exactly that. But, to be on the safe side, I now `pip uninstall classla` and also deleted the models. Then:
[code]

This was done directly on the sys-wide python, so, not using conda. No idea if that is a problem (but I also tried with active conda, and got the same result).

[2021-05-19 15:26] nljubesi commented on #19
This might be a pipeline_demo.py script issue. Loading the pipeline works as expected, but running the pipeline_demo.py script fails as @TomazErjavec described. @lkrsnik, could you have a look?

[2021-05-20 06:35] lkrsnik commented on #19
Which files do you have in `/usr/local/classla/`? It looks to me as if you cloned classla repository to this location. If you have `/usr/local/classla/classla` folder in there, python will use those local files before it uses the actual library you installed. A solution would be to either remove nested classla folder or move pipeline_demo.py.

[2021-05-20 09:35] TomazErjavec commented on #19
Yes, exactly.

I see! OK, it makes sense in retrospect, but maybe it would worth adding a note about that in the installation part of the readme. As otherwise others might make the same mistake, after all, if you want to test the pipeline with the demo script, you have to clone the repository, and then it is natural to just try and run the demo script, rather than being smart enough to first move

[2021-05-20 12:10] nljubesi commented on #19
I agree with @TomazErjavec, having a script in a location where it will never work is just absurd. I suggest we move the pipeline_demo.py file to a demo folder.

[2021-05-20 12:18] nljubesi commented on #19
Looking at the existing demo folder, I decided to

1. remove all the files from the demo folder, except for the "resources.json", which is related to our project (not sure whether this is the best location for it)
2. move the root pipeline_demo.py file to this demo folder.

[2021-05-20 12:18] #19 closed

[2021-06-21 12:54] TomazErjavec opened #20 "Problem with punctuation in pre-tokenized text"
I am annotating a pre-tokenised corpus, so I used:
[code]
and put the input (as the documentation says) as space separated text, one sentence per line, e.g.
[code]

But it turns out that most of the punctuation tokens are lemmatised as the copyright symbol, and all have a wrong XPOS, i.e.
[code]

Note that if tokenisation is performed on plain text by classla, it works fine.

[2021-08-11 08:43] TomazErjavec opened #21 "Bug with lemmatisation of Slovene words with hyphens"
As also described on [ParlaMint issues](https://github.com/clarin-eric/ParlaMint/issues/102) most words that contain hyphens get wrongly lemmatised with - at least - the hyphen exchanged for some letter, and the rest of the word often mangled as well, e.g. 500-metrskimi /5t0emetrski, dnevno-varstveni /dnevnosvarstven, le-tega /lest, prostorsko-gradbeno /prostorskongradben, 27,5-odstotno /2vzfsodst

[2021-08-11 12:59] nljubesi commented on #21
I gave the reasons for this bug on the ParlaMint side. If anyone thinks that something constructive could be done on the side of classla, please speak up. To me, this is a training data issue.

[2021-08-24 09:35] lkrsnik commented on #20
These errors occur because of `pos_use_lexicon=True` and `tokenize_pretokenized=True` combination. When we have use_lexicon tag, we assume that xpos tags for punctuations were annotated by tokeniser. That is why xpos tag 'Z' will never be predicted (it is in closed_classes), only propagated from tokeniser.

Since, we have had similar issues already, I suggest we implement a better solution than ug

[2021-08-25 07:38] TomazErjavec commented on #20
Does the tokeniser use the lexicon at all? If it does, it should not be too hard to add all punctuation symbols to it. As an addition or alternative to the proposed solutions. If it does not, then the first solution sounds ok to me.

[2021-09-07 11:53] nljubesi commented on #20
Would it not be simplest, if the `tokenize_pretokenized=True` argument is given, to run the tagging as if reldi-tokeniser was used for tokenization (we have a list of punctuations for this case)?

@lkrsnik, we can also chat (I will be on Skype until 8ish) if necessary.

[2021-09-09 08:24] lkrsnik commented on #20
The code, that was used when `pos_use_lexicon=True`, was expanded so that when we use `tokenize_pretokenized=True` or `tokenize_pretokenized="conllu"` we no longer use pre-annotated punctuations.

The change is visible in the latest commit and will be published on pypi with the next release.

[2021-09-09 08:24] #20 closed

[2021-12-02 13:39] markoferme opened #22 "Tokenization bug"
When trying to use classla on texts, that are generated from conversion of other formats (pdf, docx,...), an error is thrown:

[code]

The error occurs, when there are no words in a sentence, returned by the tokenizer (obeliks in my case).

Steps to reproduce the behavior:
[code]

A fix would probably be, to check if the tokenizer is returning any words at all, and ignore such a sentence.

[2021-12-15 11:03] bkolosk1 opened #23 "Value error from reldi tokeniser."
**Describe the bug**
A clear and concise description of what the bug is.
While running the reldi_toneiser on UNIX, I experienced the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. This happens if you call the reldi_tokeniser in a Flask APP

**Expected behavior**
To tokenize the words without any issues.

**Proposed solution**
- After looking arround I found that you

[2021-12-21 09:50] lkrsnik commented on #22
This problem arises because classla version 1.0.2 is not adapted for obeliks tokenizer at or above version 1.1.0.

Solution:
Downgrade obeliks library to version 1.0.6:
[code]

The upcoming release of classla will support latest obeliks version as well.

[2021-12-21 09:50] #22 closed

[2021-12-24 23:41] itzsimpl opened #24 "classla and obeliks 1.0.6 vs 1.1.1"
Using `obeliks==1.0.6` classla returns:
[code]
whereas with `obeliks==1.1.1` classla returns
[code]
punctuation gets lost, even though `obeliks` per se seems to return all data; i.e. `obeliks==1.0.6`:
[code]
and `obeliks==1.1.1`:
[code]

[2021-12-27 14:31] itzsimpl opened #25 "word length limits, classla hanging up on really long words"
Classla 1.0.2, with obeliks 1.0.6 hangs up on really long words. Example:
[code]

[2021-12-28 07:15] nljubesi commented on #23
This issue will be resolved with the new version that will use an external reldi-tokeniser with added object support.

[2021-12-28 15:39] lkrsnik commented on #24
Thank you for feedback!

We are aware of obeliks>=1.1.0 issues with classla version 1.0.2. That is why we are pushing hard for new classla version, which will be compatible with latest obeliks and should resolve this issue.

In the meantime, we suggest using obeliks 1.0.6 with classla 1.0.2.

[2021-12-28 16:08] lkrsnik commented on #25
This is an issue related to obeliks 1.0.6, that was resolved in a later version. Unfortunately, classla 1.0.2 has issues with later versions of obeliks. To solve this, you can either wait for upcoming classla release or use one of the following workarounds with current version:

1. Use reldi tokenizer instead of obeliks:
[code]
2. Manually annotate text with latest obeliks and use pretokenized tag

[2022-01-04 08:10] matejMartinc opened #26 "Lemmatization and ner mistakes"
Hey, I'm just giving some feedback on the lemmatization and ner mistakes that I noticed using classla. Not sure this is fixable though?

Lemmatization:
portalom gets  lemmatized to portalo pretty much all the time
kripto gets lemmatized to kripta

To reproduce:

nlp_slo = classla.Pipeline(lang='sl', processors='tokenize,ner,pos,lemma')
doc = nlp_slo('Nad kamnitim portalom je naslikan grb z letnico

[2022-01-04 17:39] mihabogataj opened #27 "Fails to recognize foreign phrase"
Firstly I'd like to say that the system works excellent most of the time! However I came across an issue in Slovene sentence when classla failed to recognize foreign sequence.

The issue appears in following sentence:
"Res je, rezultat trdega dela je sedaj nasmejani Cameron, ki je letošnji zmagovalec na avstralskem Men`s Healthovem FITNES IZZIVU."

It fails to recognize that "Men's Health" is not

[2022-01-12 10:01] #10 closed

[2022-01-12 10:02] lkrsnik commented on #10
With classla v1.1.0 the test passed.

[2022-01-12 10:23] lkrsnik commented on #23
As of latest classla version (1.1.0), reldi-tokeniser stopped being included as a GitHub submodule, but as an external library (https://pypi.org/project/reldi-tokeniser/).

Thank you!

[2022-01-12 10:23] #23 closed

[2022-01-12 10:30] lkrsnik commented on #24
Classla v1.1.0 is now available and solves this issue.

[2022-01-12 10:30] #24 closed

[2022-01-12 10:34] lkrsnik commented on #25
New release of classla (v1.1.0) now works with latest obeliks.

[2022-01-12 10:34] #25 closed

[2022-01-12 10:36] nljubesi commented on #26
Thank you  for your feedback, much appreciated!

This is all mostly due to background training data and ambiguity. Only one issue can be resolved with a new feature (`pos_use_lexicon`), namely the `portalom` one.

[code]

Be careful with the application of this lexicon usage during tagging as it does not allow for any contextually-sound tags for tokens that are covered by the lexicon, but not with

[2022-01-12 10:56] nljubesi commented on #27
Thank you for your kind words, as well as the interesting issue. There are actually two issues in your example that classla is not dealing with properly, and they are connected.

One is the rather non-standard apostrophe ```````, another is the partially foreign phrase. You are probably using the non-standard mode of the Slovenian models, and you can understand the urge of the tagger to go for `me

[2022-01-12 11:00] #26 closed

[2022-01-12 11:03] nljubesi commented on #21
This is not an issue any more in classla 1.1.0.

[2022-01-14 18:15] mihabogataj commented on #27
That is correct, I am using non-standard model.

[2022-01-21 10:40] mrspock434 opened #28 "Problem with sentence segmentation for CoNLLU computation"
**Description**

Sentence segmentation is performing poorly. Longer sequences of text are joined and segmented as sentences improperly. Maybe a result of improper tokenization?

**To Reproduce**

Steps to reproduce the behavior:
1. Compute CoNLLU's for following document enclosed in testcase.zip (2660.txt)
2. Observe the result (2660.plainText.conllu)

Testcase input and output: [testcase.zip](htt

[2022-01-25 08:55] tjasaje opened #29 "Cannot import classla on Windows"
Classla (version 1.1.0) cannot be imported on a Windows system due to an UnicodeDecodeError:

![classlaImportError](https://user-images.githubusercontent.com/79084005/150944077-2c7f2f6f-f6c5-4499-ad5b-ff995779da9f.png)
.

[2022-01-25 09:05] nljubesi commented on #29
Thank you for reporting this @tjasaje.

@lkrsnik, is this due to Windows default CP1250 encoding (ah)? Should reldi-tokeniser be updated with open(encoding="utf-8")? If so, please do that (I cannot currently push to pip, we will have to change this).

[2022-01-25 09:06] nljubesi commented on #28
We are dealing with this issue offline. If anything is to be reported here, we will reopen.

[2022-01-25 09:06] #28 closed

[2022-01-25 13:19] lkrsnik commented on #29
Yes, the issue was in reldi-tokeniser. To fix this, please upgrade reldi-tokeniser in your environment, using:

[code]

[2022-01-25 13:19] #29 closed

[2022-01-28 11:23] nljubesi opened #30 "\x1f breaks obeliks + conllu generation"
**Describe the bug**
The obeliks tokenizer breaks down on the following sequence: `:\x1f`. The first character can be any character. The breakage occurs during the preparation of conllu output.

**To Reproduce**
[code]

**Additional context**

reldi-tokeniser does not break. obeliks in CLI (if conllu is not produced) does not break either.

Could there be a solution that would catch such cases and

[2022-01-28 11:24] nljubesi commented on #30
This was reported by @mrspock434.

[2022-01-28 11:37] nljubesi commented on #30
And this seems to be a obeliks issue, so assigning @msinkec here as well. Miha, `\x1f` seems to break obeliks on the conllu generation step.

[2022-02-05 08:56] msinkec commented on #30
Is this character supposed to be a n with tilde? https://www.fileformat.info/info/unicode/char/f1/index.htm

[2022-02-05 13:18] nljubesi commented on #30
The problematic character code was wrongly written in the title, but good in the message. `\x1f` is an ASCII control character (unit separator). It probably occurred as noise, but should still not be able to bring the CONLL-U generation process of obeliks.

[2022-02-07 10:07] msinkec commented on #30
Should these control characters be excluded from the result or kept in? They currently get market as a punctuation character.

[2022-02-07 12:12] nljubesi commented on #30
@simonkrek ? We are discussign the \x1f control character that brings down obeliks during conllu generation. Reported by UM people, they got it from some PDF conversion.

I think these should be rather removed. These are highly infrequent and should be dealt with, in a reasonable setup, via pre-processing. However, they should not be able to break down our tools.

[2022-02-09 21:33] simonkrek commented on #30
I agree. Non-printable control characters such as  \x1f should be removed by Obeliks.

[2022-02-11 07:41] msinkec commented on #30
Should be fixed in Obeliks 1.1.4  https://github.com/clarinsi/obeliks/releases/tag/1.1.4

[2022-02-11 07:43] nljubesi commented on #30
It is. Closing.

[2022-02-11 07:43] #30 closed

[2022-02-13 13:42] petarpetarpetar opened #31 "ERROR: ResolutionImpossible: Cannot install on Python3.10"
Hello guys,

The library seems really good and I want to try it out. However, upon running `pip install classla` I'm getting the following error:
[code]
I couldn't find a solution myself and that's why I'm turning to you for help <3

[2022-02-14 07:50] nljubesi commented on #31
@petarpetarpetar thank you for reporting. @lkrsnik, can you, please investigate?

@petarpetarpetar In the meantime, can you check that this is not due to a faulty pip? From your output it seems that pip is trying to install all versions, which is not expected behaviour. The behaviour might be related to https://github.com/pypa/pip/issues/9284. Can you run `pip install -U pip` to get the newest pip

[2022-02-14 08:15] lkrsnik commented on #31
Classla doesn't work with python3.10, because underlying libraries (namely torch - https://github.com/pytorch/pytorch/issues/67669) are not updated yet.

I suggest downgrading python to an older version.

[2022-02-14 08:48] nljubesi commented on #31
Thank you, @lkrsnik! More knowledgeable as usual. @petarpetarpetar you know what to do. Closing this issue.

[2022-02-14 08:48] #31 closed

[2022-02-14 08:56] petarpetarpetar commented on #31
Thanks guys

[2022-05-23 09:30] sharpsy opened #32 "Text attribute of the sentence object is empty"
**Describe the bug**
As the title says, the text property of the sentence object is always empty.

**To Reproduce**
[code]

**Expected behavior**
I would expect that both sentence objects contain the original text of the sentence. This makes it harder to implement some workflows. In my case, I would like to cross-reference the information received from classla (ner, lemma, upos) with the output fr

[2022-05-23 09:41] nljubesi commented on #32
@lkrsnik Let's deal with this once you have classla back in your focus.

@sharpsy this might take a few weeks. We, of course, also do not mind pull requests. The underlying issue should be easy to fix.

[2022-06-25 13:56] nljubesi commented on #17
Luka had a look and he realised that these predictions come as bad predictions due to the sentence length and the available `<PAD>` token used for padding.

@kajad we suggest Luka replaces these `<PAD>` dependency relations with any deprel that is general enough and that should not hurt any downstream analyses. We were thinking of the `punct` deprel. You might have another idea. The predictions in

[2022-06-27 13:44] kajad commented on #17
I suggest using the 'dep' label (https://universaldependencies.org/u/dep/dep.html). How about parent ID, is there any particular HEAD number assigned to `<PAD>`?

[2022-06-27 17:31] nljubesi commented on #17
All instances have heads. Overall the parsing results in such sentences are rubbish. For the example sentence above, this is the start of the output:

[code]

`dep` sounds great, exactly what we were after. We do not think such long sentences should be parsed at all as the output is bad, but we at least want make sure that the output is well-formatted. Taking anything from the head, as you can see

[2022-06-28 07:08] kajad commented on #17
Alas, none of the two options is ideal - modifying the stand-alone tokenizer to meet the limitations of a particular tool is somewhat artificial, whereas leaving some sentences unparsed would definitely lead to issues in validations, corpus statistics, etc. Is there any particular reason to not use the original PAD=dep solution with extra long sentences? Does it cause the tool to break or slow dow

[2022-06-28 22:46] simonkrek commented on #17
I agree with Kaja.

[2022-06-29 11:35] lkrsnik commented on #32
This was fixed with the latest classla release.

[2022-06-29 11:35] #32 closed

[2022-06-29 11:40] lkrsnik commented on #17
As suggested, 'dep' label is now used to replace <PAD>. I am leaving this issue open, since we might work on it further in the future.

[2022-07-07 08:33] TomazErjavec commented on #13
For the record, this bug just bit me, and it would indeed be good if the fix were implemented, as down-stream programs rely on valid B, I sequences. Debugging what went wrong can take a lot of time, not to mention that every user must then implement the fix themselves, rather than having it done only once in CLASSLA.

In case it helps, using the latest release, the minimal pipeline that reproduces

[2022-07-07 12:43] nljubesi commented on #13
@lkrsnik Could you maybe deal with this in the following days / weeks? It should be very simple. Once the NER labels are in, you should iterate through these and change each `I-X` label into `B-X` if there was not a `B-X` label beforehand. Discontinued labels are allowed, so `B-ORG O O I-ORG` is valid, but `I-ORG O O I-ORG` is not. In the above example, the label of `dom`should change from `I-ORG`

[2022-10-10 17:52] kateabr opened #33 "[SR] Incorrect lemmatization"
**Describe the bug**
Pipeline for the Serbian language consistently produces incorrect results when processing certain words, for example "mnom".

**To Reproduce**
The snippet below can be used to reproduce this behavior, output that it generates on my computer is also attached.
Additional comparison between the original text and its transliteration was added in order to ensure that transliteratio

[2022-10-10 19:42] nljubesi commented on #33
Hey, very short answer. There seems to be a problem with the Serbian standard model. It will obviously need to be retrained. The non-standard model, however, seems ok. I know that the Croatian standard and non-standard models are also ok, but they prefer the ijekavian lemmatization.

My suggestion would be to investigate the Serbian non-standard model.

We will retrain all models in the near futur

[2022-10-11 06:17] nljubesi commented on #33
After some more analyses, I have concluded that there is sadly nothing wrong with the Serbian standard model. It is only very poor in direct speech since it is based on newspaper data only (no occurrence of "mnom" in all of training data). In your example, it all went wrong when the tagger did not know to predict the "Pp1-si" tag for "mnom", which then triggered the lemmatizer to come up with a be

[2022-10-14 09:49] sharpsy opened #34 "Text attribute of the sentence object is unreliable"
**Describe the bug**
Text attribute of the sentence object (added in #32) does not contain correct information when the control characters are present in the string.

**To Reproduce**
[code]

**Expected behavior**
I would expect that a text attribute of a sentence object matches the span of the input text where the tokenized words originated from.

**Environment (please complete the following info

[2022-10-17 07:19] nljubesi commented on #34
Thank you, @sharpsy for reporting this! We seem never to test our solutions with enough rigor, so great to have you out there.

@lkrsnik, please resolve the issue at your earliest convenience. @simonkrek fyi.

[2022-10-23 07:08] nljubesi opened #35 "CLI lemmatization code for Slovenian not working"
**Describe the bug**

After having a model for lemmatization trained in `classla-spoken/models/lemma/baseline.pt`, running the usual code for predicting with the model

[code]

returns

[code]

so it seems that the model checkpoint does not have the `dicts` key, which is quite likely related with the change in Slovenian where the dictionary is saved in the pos model. My guess would be that using t

[2022-10-26 07:03] nljubesi commented on #35
I am extending this issue with the info that CLI lemmatization also does not work for the remaining languages.

[code]

results in

[code]

It seems that in the last patch-up of the CLI tools we, @lkrsnik, focused only on the training, while the prediction mode requires similar interventions as did the training mode.

I guess the most sensible approach is to resolve issues in the script for both t

[2022-10-26 11:47] lkrsnik commented on #35
The problem indeed was that prediction mode was not updated. I created a quick fix, but was unable to test it on your example, since you haven't provided required models. Please pull the latest commit and test it out. For better results, you should use `--pos_model_path`. If it still won't load, you should force it via `--pos_force_inf_lexicon`.

[2022-10-26 12:57] nljubesi commented on #35
I am still getting the same errors as before. After some digging, I realised that my newly trained lemmatization models lack the `dicts` key in the model which are, at least in the Slovenian models from clarin.si, actually lists of two empty dictionaries. This is, I guess, because the lexicon from the pos model is used. After adding this `[{},{}]` to the newly trained model, the predictions run wi

[2022-10-26 12:59] nljubesi commented on #35
Ah yes, if you want to have a look at a newly trained lemmatization model, one is available from https://github.com/clarinsi/classla-spoken/blob/main/models/lemma/baseline_lemmatizer.pt.

[2022-10-26 14:09] lkrsnik commented on #35
I updated evaluation code in a way that if `dict` keys don't exist, it automatically sets self.word_dict and self.composite_dict to {} (pull latest commit). This seems to have fixed your problem and you won't have to retrain your models.

If you already have POS annotated and handchecked then these experimets do make sense. Code should be stable enough since it is ran by classla itself. As for `--

[2022-10-27 08:48] nljubesi commented on #35
That is true. Great.

Aha, ok, now I understand, this was just an additional precaution because you did not have insight in my model (which points towards the lack of control of what the lemmatizer training script is doing).

For now I can continue, thanks, it still seems that this training and prediction procedure requires some attention to iron out potential wrinkles. Leaving this open, also to

[2022-10-27 08:54] nljubesi opened #36 "Lexicon construction process during tagger training propagates training data noise into the lemmatizer"
When using JANES training data together with SST data I experienced drastic (10 points) falls in lemmatization quality.

Inspecting the reasons, I realised that during the tagger training on a combination of JANES and SST data all the noise from the JANES data (function words sometimes lemmatized as title case) were included in the lexicon and rather heavily applied during lemmatization through th

[2022-10-27 09:15] nljubesi commented on #36
I tried dealing with the issue by simply assuring that the misnamed method `load_influectial_lexicon` loads just the first hypothesis, which made the lemmatizer hop 5 points up, keeping still 5 points to be hoped for.

For some tokens it seems that the mislemmatized instances (`jaz Jaz PRON`) are actually in a higher position in the inflectional lexicon than the correctly lemmatized instances (`ja

[2022-10-27 09:34] nljubesi commented on #35
And with the current patch-up it seems that the official non-standard lemmatization model cannot be used with the lexicon from the official non-standard pos-tagging model.

[code]

Rather obvious things have to be ironed out with enough time on our hands.

[2022-10-28 09:50] sharpsy opened #37 "Pipeline crashes on the whitespace only string/hangs on empty string"
**Describe the bug**

When input to the classla pipeline is an empty string the pipeline hangs (responds to Ctrl+C to stop).
When input is composed of only whitespace characters, the pipeline crashes.

**To Reproduce**
[code]

To reproduce the crash:
[code]
results in:
[code]

**Expected behavior**
I would expect that the empty document is returned in both cases.

**Environment (please complete th

[2022-11-27 11:14] TomazErjavec commented on #13
@lkrsnik, @nljubesi, could you bump this issue. I just had problems again with this bug and it is rather frustrating.

[2022-11-27 11:25] TomazErjavec opened #38 "Problems with nonstandard Slovene processing"
Annotating standard Slovene works for me, but now I tried to annotate a pre-tokenised Slovene text with the non-standard model using
[code]
and I got the following error message:
[code]
First, this message gives wrong advice: I do have the standard Slovenian models, and they work, and if I run `classla.download('sl')`, it just says that the models exists (and then downloads them anyway). I figured

[2022-11-28 16:11] nljubesi commented on #13
I thought @lkrsnik solved this. Might not be the case. I am waiting for @lkrsnik to deal with the lexicon building issues that are crucial for training RSDO models, I hope he will be able to deal with this (and some other issues) right after the big lexicon building issue is resolved.

[2022-11-30 17:18] lkrsnik commented on #36
Did you use `--inflectional_lexicon_path` when training pos model? And if so, did you include Sloleks lexicon from [clarin](https://www.clarin.si/repository/xmlui/handle/11356/1230)?

The way classla works when generating internal inflectional lexicon is that it uses the lemma with the highest inflectional lexicon occurrence from csv. All lemmas from training data should be behind everything in in

[2022-11-30 17:47] nljubesi commented on #36
While training the tagger we used

[code]

and while training the lemmatizer we used

[code]

The noise, as described, from the JANES training data ended up in the lexicon and, not only that, became very prominent, lowering lemmatiser performance for 10 points. This is why we used the ```--pos_model_path classla-spoken/models/pos/baseline``` pos model in the end, which brought back the lemmatisati